[submodule "backend"]
	path = app/backend
	url = https://github.com/Mueem-Nahid/distributed-portfolio-backend.git
	branch = main

[submodule "frontend"]
	path = app/frontend
	url = https://github.com/Mueem-Nahid/distributed-portfolio-frontend.git
	branch = main
