[submodule "backend"]
	path = app/backend
	url = git@github.com:Mueem-Nahid/distributed-portfolio-backend.git
	branch = main

[submodule "frontend"]
	path = app/frontend
	url = git@github.com:Mueem-Nahid/distributed-portfolio-frontend.git
	branch = main
